@page "/perimeter-and-area"



<PageTitle>@title</PageTitle>

<h1>@title</h1>

<p role="status">Calculate the perimeter and area</p>
<p role="status">Input the height of the rectangle:</p>
<input @bind="InputValueHeight" />
@if (!isValidHeight)
{
    <p>invalid value of height</p>
}

<p role="status">Input the width of the rectangle:</p>
<input @bind="InputValueWidth" />
@if (!isValidWidth)
{
    <p>invalid value of width</p>
}


@if (isValidWidth && isValidHeight)
{
    <p>
        perimeter: @(perimeter)px <br/>
    
        area: @(area)px
    </p>
    <div style="width: 80vw;height: 50vh;display: grid;place-items: center;">
        <div style="width: @(width)px;height: @(height)px;display: grid;place-items: center;background: #54bc96; color: white;border: solid green 1px;">
        </div>
    </div>
}


@code {
    private string title = "Perimeter and area";

    private Double height = 0;
    private Double width = 0;
    private Double perimeter = 0;
    private Double area = 0;
    private bool isValidHeight = true;
    private bool isValidWidth = true;

    private string InputValueHeight
    {
        get
        {
            return height.ToString();
        }
        set
        {
            try
            {
                height = Int32.Parse(value);
                isValidHeight = true;
                CalculateProperties();
            }
            catch
            {
                isValidHeight = false;
            }
        }
    }


    private string InputValueWidth
    {
        get
        {
            return width.ToString();
        }
        set
        {
            try
            {
                width = Int32.Parse(value);
                isValidWidth = true;
                CalculateProperties();
            }
            catch
            {
                isValidWidth = false;
            }
        }
    }

    private void CalculateProperties() {
            try
            {
                perimeter = height * 2 + width * 2;
                area = height * width;
            }
            catch
            {
                Console.WriteLine("Try to input a valid format");
            }
    }
}
