@page "/perimeter-and-area"



<PageTitle>@title</PageTitle>

<h1>@title</h1>

<p role="status">Calculate the perimeter and area</p>
<p role="status">Input the height of the rectangle:</p>
<input @bind="InputValueHeight" type="number" />

@if (!isValidHeight)
{
    <p>invalid value of height</p>
}

<p role="status">Input the width of the rectangle:</p>
<input @bind="InputValueRadio" type="number" />

@if (!isValidRadio)
{
    <p>invalid value of width</p>
}


@if (isValidRadio && isValidHeight)
{
    <p>
        volume: @(volume)px <br />
    
    </p>
    <div style="width: 80vw;height: 50vh;display: grid;place-items: center;">
        <div style="transition: all 300ms ease-in-out; width: @(width)px;height: @(height)px;display: grid;place-items: center;background: #54bc96; color: white;border: solid green 1px;">
        </div>
    </div>
}


@code {
    private string title = "Cylinder volume heigth";

    private Double height = 0;
    private Double radio = 0;
    private Double volume = 0;
    private bool isValidHeight = true;
    private bool isValidRadio = true;

    private string InputValueHeight
    {
        get
        {
            return height.ToString();
        }
        set
        {
            try
            {
                height = Int32.Parse(value);
                isValidHeight = true;
                CalculateProperties();
            }
            catch
            {
                isValidHeight = false;
            }
        }
    }


    private string InputValueRadio
    {
        get
        {
            return radio.ToString();
        }
        set
        {
            try
            {
                radio = Int32.Parse(value);
                isValidRadio = true;
                CalculateProperties();
            }
            catch
            {
                isValidRadio = false;
            }
        }
    }

    private void CalculateProperties() {
            try
            {
                volume = radio * Math.PI * height;
            }
            catch
            {
                Console.WriteLine("Try to input a valid format");
            }
    }
}
